<div class="container">
  <div class="client-show my-3">
    <div class="client-card p-3">
      <div class="client-upper d-flex my-3 align-items-center">
        <%= cl_image_tag @client.avatar.key, height: 50, width: 50, crop: :fill if @client.avatar.attached?%>
        <h3 class="mx-3"><%= @client.name %></h3>
        <%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-info' %>
      </div>
      <p><%= @client.created_at.strftime('Your client since: %B %Y') %></p>
      <% unless @client.bio.blank? %>
        <p>Info about <%= @client.name %>: <%= @client.bio %><p>
      <% end %>
    </div>
    <div class="payments-index container">
    <div class="payments-grid my-3">
      <%= render partial: 'payments/payment', collection: @payments %>
    </div>
  </div>
  </div>
</div>
