<div class="payment-card">
  <div class="payment-infos my-5">
    <div class="payment-card-info">
      <h5>Number: <%= payment.id  %></h5>
      <h5>Payment from: <%= payment.project.client.name %></h5>
      <h5>Project: <%=  payment.project.name%></h5>
      <h5>Due date: <%= payment.date_of_payment %></h5>
      <h5><%= payment.paid ? "✅ Paid" : "🔴 Not paid" %></h5>
      <h5 class="payment-value">Total: $<%= payment.value %></h5>
    </div>
  </div>
</div>
